

.matriz-board{
  border: 1px solid red;
}
.cell {
  width: 32px;
  height: 32px;
  border: 1px solid red;
}
.block {
  min-width:32px;
  min-height: 32px;
  border:1px solid green;
  background-color: yellowgreen;
}