* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  user-select: none;
  color: #fff;
  background-color: #000033;
  /* border: 1px solid green; */
}

body {
  display: flex;
}

header {
}
header h1 {
  width: 100%;
  text-align: center;
  color: #003399;
}
nav {
  width: 160px;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.nav-menu {
  padding: 6px;
  font-size: 20px;
  text-align: center;
  color: GhostWhite;
  cursor: pointer;
  transition: text-shadow 0.3s, transform 0.3s, color 0.3s, font-weight 0.3s;
  transition-timing-function: linear;
}
.nav-menu:hover {
  color: #3366ff;
  font-weight: bolder;
  text-shadow: 0 1px 8px #3366ff, 0 5px 25px #3366ff;
  transform: scale(1.05);
}

main {
  width: 100%;
  justify-content: center;
}

.logo-js {
  width: 96px;
  height: 96px;
}
.logo-php {
  width: 128px;
  height: 96px;
}
.logo-react {
  width: 160px;
  height: 96px;
}

.info {
  width: 100%;
  padding: 40px 20px;
}
.info-title {
  font-size: 30px;
  font-weight: bolder;
  background: linear-gradient(#3366ff, #99ccff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
}
.info-tecnology {
  display: flex;
  padding: 40px;
  gap: 20px;
}

.card-list {
  display: flex;
  padding: 16px;
  gap: 16px;
}

article {
  min-width: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 4px;
}
article h2 {
  text-align: center;
  padding-bottom: 10px;
}
article img {
  width: 100%;
  height: 160px;
  padding-bottom: 10px;
}
article p {
  width: 100%;
  font-size: 16px;
  text-indent: 20px;
  text-align: justify;
  margin-bottom: 15px;
}
.play-game {
  width: 100%;
  font-size: 16px;
  margin: 8px 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.options {
  font-size: 20px;
  text-align: center;
  color: #0066ff;
  cursor: pointer;
  transition: text-shadow 0.3s, transform 0.3s, color 0.5s;
  transition-timing-function: linear;
}
.options:hover {
  color: #ddddff;
}
